<div class="content-box">
	<div id="form-shadow-top"><%= image_tag 'shadow-top.jpg', :alt => 'shadow' %></div>
	<div id="form-pref-content">
		<h1>Guest Account</h1>
		<br />

<p>
  <b>Username:</b>
  <%= @guest.username %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest), :class => "btn btn-info" %>

</div>
<div id="form-shadow-bottom"><%= image_tag 'shadow-bottom.jpg', :alt => 'shadow' %></div>

</div>