		<div id="user-menu">
			<ul>
				<li class="btn btn-info"><br /><%= link_to 'Keyholder Account', :controller => "/keyholders", :id => current_keyholder.id, :action => "myaccount" %></li>
				<% if current_keyholder.user.funeral.present? %>
				<li class="btn btn-primary"><br /><%= link_to 'Funeral', funeral_path(current_keyholder.user.funeral) %></li>
				<% else %>
				<li class="btn disabled"><br />Funeral</li>
				<% end %>
			    <li class="btn btn-primary"><br /><%= link_to 'Timeline', 
			      	current_keyholder.user.timeline.present? ? 
			        timeline_path(current_keyholder.user.timeline) : 
			        new_timeline_path %></li>
			    <li class="btn btn-primary"><a href="#">Order of Service</a></li>
			    <li class="btn btn-primary"><a href="#">Message Board</a></li>
			    <li class="btn btn-success"><br /><%= link_to 'Guest Account', 
			      	current_keyholder.user.guest.present? ? 
			        guest_path(current_keyholder.user.guest) : 
			        new_guest_registration_path %></li>
			</ul>
		</div>